<!DOCTYPE html>
<html>
<title>CIS550</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://previews.123rf.com/images/goodstudio/goodstudio1809/goodstudio180900391/109811724-group-of-hospital-medical-staff-standing-together-male-and-female-medicine-workers-physicians-doctor.jpg');
  /* background-image: url('/images/intro_fire.jpeg'); */
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
<body ng-app="Healthcare">
    
<div class="bgimg w3-display-container w3-animate-opacity w3-text-black">
  <div class="w3-display-topright w3-padding-large w3-xlarge">
    Sai , Rutuja , Ruchi , Gauri 
  </div>
  <div  class="w3-display-topleft w3-padding-large w3-large">
      <a href='/login'>Login</a> 
  </div>
  <div class="w3-display-middle" ng-controller="IntroController">
    <h1 class="w3-jumbo w3-xlarge">Healthcare Plans- CIS 550</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center w3-text-black" >One Stop solution for healthcare information</p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Sponsored by CMS.gov data
  </div>
</div>

<!---Angular app-->
<script src="javascripts/healthcare.js"></script>


</body>
</html>