<nav class="navbar fixed-top navbar-expand-lg navbar-dark indigo">
        <a class="navbar-brand" href="{{homePage}}"><strong>Health Insurance</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
            <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="{{networkPage}}">Network</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{dentalPage}}">Dental Plans</a>
                </li>
            </ul>
    
            <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                            <a class="navbar-text white-text" > Hi {{user.nickname}}, &nbsp;&nbsp;
                                </a>
                        </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.medicare.gov/">
                        <i class="fas fa-globe"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/">
                        <i class="fab fa-facebook-f"></i> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/">
                        <i class="fab fa-instagram"></i> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/">
                        <i class="fab fa-twitter"></i> </a>
                </li>
                <li class="nav-item avatar dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="{{user.picture}}"
                            height="35" width="35" class="rounded-circle" alt="avatar image">
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                        aria-labelledby="navbarDropdownMenuLink-55">
                        <a class="dropdown-item" href="/logout">Log out</a>
                    </div>
                </li>
            </ul>
    
        </div>
        
    
    </nav>
